<?xml version="1.0" encoding="UTF-8" ?>
<!-- ResultMap provides result structure of the queries. Allow us to perform 
 various operations like SELECT , UPDATE on Size table in database Using SELECT 
 and UPDATE tag we can specify result type and parameter type Inside the SELECT 
 tag we can specify SELECT queries and same for UPDATE -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DoctorMapper">

 <resultMap id="DoctorResult" type="systems.ellora.core.api.doctor.Doctor">
  <result property="organizationId" column="organizationId" />
  <result property="doctorId" column="doctorId" />
  <result property="doctorName" column="doctorName" />
  <result property="specialist" column="specialist" />
  <result property="today" column="today" />
  <result property="availableTimeFrom" column="availableTimeFrom" />
  <result property="availableTimeTo" column="availableTimeTo" />
 </resultMap>


 <select id="selectDoctor" resultType="systems.ellora.core.api.doctor.Doctor"
  parameterType="int" resultMap="DoctorResult">
  SELECT * FROM doctor WHERE organizationId = #{organizationId} AND doctorId =
  #{doctorId}
 </select>

 <select id="selectDoctorAvailableTime" resultType="hashMap"
  parameterType="hashmap">
  SELECT availableTimeFrom, availableTimeTo FROM doctor WHERE organizationId =
  #{organizationId} AND doctorId = #{doctorId} AND appointmentDate =
  #{appointmentDate}
 </select>

 <insert id="insertDoctor" parameterType="Doctor" keyProperty="id"
  useGeneratedKeys="true">
  CREATE TABLE doctor (organizationId, doctorId, doctorId, doctorName,
  patientId, patientName, appointmentStatus, appointmentTime,
  appointmentDate) VALUES (#{organizationId}, #{appointmentId},
  #{doctorId}, #{doctorName}, #{patientId}, #{patientName},
  #{appointmentStatus}, #{appointmentTime}, #{appointmentDate});
 </insert>

 <update id="updateDoctor" parameterType="systems.ellora.core.api.doctor.Doctor">
  UPDATE appointment SET appointmentStatus = #{appointmentStatus},
  appointmentTime = #{appointmentTime}, appointmentDate=
  #{appointmentDate} where organizationId=#{organizationId} AND
  appointmentId = #{appointmentId}
 </update>

 <delete id="cancelDoctor" parameterType="systems.ellora.core.api.doctor.Doctor">
  DELETE FROM appointment WHERE appointmentId = #{appointmentId}
 </delete>

</mapper> 